<%==panel_helper "User详情" do%>
    <table class="table table-bordered">
        <tbody>
                    <tr>
                <td style="width:10px;">Username</td>
                <td><%= @user.username %></td>
            </tr>
                    <tr>
                <td style="width:10px;">Email</td>
                <td><%= @user.email %></td>
            </tr>
                    <tr>
                <td style="width:10px;">Password</td>
                <td><%= @user.password %></td>
            </tr>
                </tbody>
    </table>
    <%= link_to '编辑', edit_user_path(@user),class:"btn btn-sm btn-default" %> |
    <%= link_to '返回列表', users_path,class:"btn btn-sm btn-default" %>
<%end%>