<%%==panel_helper "<%= singular_table_name.titleize %>详情" do%>
    <table class="table table-bordered">
        <tbody>
        <% attributes.reject(&:password_digest?).each do |attribute| -%>
            <tr>
                <td style="width:10px;"><%= attribute.human_name %></td>
                <td><%%= @<%= singular_table_name %>.<%= attribute.name %> %></td>
            </tr>
        <% end -%>
        </tbody>
    </table>
    <%%= link_to '编辑', edit_<%= singular_table_name %>_path(@<%= singular_table_name %>),class:"btn btn-sm btn-default" %> |
    <%%= link_to '返回列表', <%= index_helper %>_path,class:"btn btn-sm btn-default" %>
<%%end%>