<%==panel_helper "Product详情" do%>
    <table class="table table-bordered">
        <tbody>
                    <tr>
                <td style="width:10px;">Title</td>
                <td><%= @product.title %></td>
            </tr>
                    <tr>
                <td style="width:10px;">Content</td>
                <td><%= @product.content %></td>
            </tr>
                </tbody>
    </table>
    <%= link_to '编辑', edit_product_path(@product),class:"btn btn-sm btn-default" %> |
    <%= link_to '返回列表', products_path,class:"btn btn-sm btn-default" %>
<%end%>