<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= yield :head %>
    <title>CMS</title>

    <!-- Bootstrap -->
    <link href="/assets/stylesheets/bootstrap.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="/assets/stylesheets/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="/assets/stylesheets/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <!--<link href="/assets/stylesheets/iCheck/skins/flat/green.css" rel="stylesheet">-->
    <!-- bootstrap-progressbar -->
    <!--<link href="/assets/stylesheets/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">-->
    <!-- JQVMap -->
    <!--<link href="/assets/stylesheets/jqvmap.min.css" rel="stylesheet"/>-->
    <!-- bootstrap-daterangepicker -->
    <!--<link href="/assets/stylesheets/daterangepicker.css" rel="stylesheet">-->
    <link rel="stylesheet" href="/assets/stylesheets/dataTables.bootstrap.min.css">
    <!-- Custom Theme Style -->
    <link href="/assets/stylesheets/custom.css" rel="stylesheet">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>

    
    <%= csrf_meta_tags %>
    <script src="/assets/javascripts/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="/assets/javascripts/bootstrap.min.js"></script>
    <script src="/assets/javascripts/jquery.dataTables.min.js"></script>
    <script src="/assets/javascripts/dataTables.bootstrap.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</head>
<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                <div class="navbar nav_title" style="border: 0;">
                    <a href="/" class="site_title"><i class="fa fa-paper-plane"></i> <span>CMS</span></a>
                </div>

                <div class="clearfix"></div>

                <!-- sidebar menu -->
                <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                    <div class="menu_section">
                        <ul class="nav side-menu">
                            <li><a><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a href="/">Dashboard</a></li>
                                    <li><a href="/">Dashboard2</a></li>
                                    <li><a href="/">Dashboard3</a></li>
                                </ul>
                            </li>
                            <li><a><i class="fa fa-edit"></i> Forms <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a href="#">General Form</a></li>
                                    <li><a href="#">Advanced Components</a></li>
                                    <li><a href="#">Form Validation</a></li>
                                    <li><a href="#">Form Wizard</a></li>
                                    <li><a href="#">Form Upload</a></li>
                                    <li><a href="#">Form Buttons</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="menu_section">
                        <h3>Live On</h3>
                        <ul class="nav side-menu">
                            <li><a><i class="fa fa-bug"></i> Additional Pages <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a href="e_commerce.html">E-commerce</a></li>
                                    <li><a href="projects.html">Projects</a></li>
                                    <li><a href="project_detail.html">Project Detail</a></li>
                                    <li><a href="contacts.html">Contacts</a></li>
                                    <li><a href="profile.html">Profile</a></li>
                                </ul>
                            </li>
                            
                            <li><a><i class="fa fa-sitemap"></i> Multilevel Menu <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a href="#level1_1">Level One</a>
                                    <li><a>Level One<span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu">
                                            <li class="sub_menu"><a href="level2.html">Level Two</a>
                                            </li>
                                            <li><a href="#level2_1">Level Two</a>
                                            </li>
                                            <li><a href="#level2_2">Level Two</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href="#level1_2">Level One</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>

                </div>
                <!-- /sidebar menu -->

                <!-- /menu footer buttons -->
                <div class="sidebar-footer hidden-small">
                    <a data-toggle="tooltip" data-placement="top" title="Settings">
                        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                    </a>
                    <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                        <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                    </a>
                    <a data-toggle="tooltip" data-placement="top" title="Lock">
                        <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                    </a>
                    <a data-toggle="tooltip" data-placement="top" title="Logout">
                        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                    </a>
                </div>
                <!-- /menu footer buttons -->
            </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
            <div class="nav_menu">
                <nav>
                    <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                    </div>

                    <ul class="nav navbar-nav navbar-right">
                        <li class="">
                            <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <!--<img src="images/img.jpg" alt="">John Doe-->
                                管理员
                                <span class=" fa fa-angle-down"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-usermenu pull-right">
                                <!--<li><a href="javascript:;"> Profile</a></li>-->
                                <!--<li>-->
                                    <!--<a href="javascript:;">-->
                                        <!--<span class="badge bg-red pull-right">50%</span>-->
                                        <!--<span>Settings</span>-->
                                    <!--</a>-->
                                <!--</li>-->
                                <!--<li><a href="javascript:;">Help</a></li>-->
                                
                                <%if current_admin.nil? %>
                                    <li><a href="login.html"><i class="fa fa-sign-out pull-right"></i> 登陆</a></li>
                                <%else%>
                                    <li>
                                        <%= link_to destroy_admin_session_url, method: "DELETE" do %>
                                            <i class="fa fa-sign-out pull-right"></i>
                                            登出
                                        <% end %>
                                    </li>
                                <%end%>
                            
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
            <%==alert_helper(notice,"info")%>
            <%==alert_helper(alert,"danger")%>
            <%= yield %>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer>
            <div class="pull-right">
                Copyright © 2016 Next Entertainment (Hong Kong) Limited
            </div>
            <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
    </div>
</div>

<!-- jQuery -->

<!-- FastClick -->
<!--<script src="/assets/javascripts/fastclick.js"></script>-->
<!-- NProgress -->
<script src="/assets/javascripts/nprogress.js"></script>
<!-- Chart.js -->
<!--<script src="/assets/javascripts/Chart.min.js"></script>-->
<!-- gauge.js -->
<!--<script src="/assets/javascripts/gauge.min.js"></script>-->
<!-- bootstrap-progressbar -->
<!--<script src="/assets/javascripts/bootstrap-progressbar.min.js"></script>-->
<!-- iCheck -->
<!--<script src="/assets/javascripts/icheck.min.js"></script>-->
<!-- Skycons -->
<!--<script src="/assets/javascripts/skycons.js"></script>-->
<!-- Flot -->
<!--<script src="/assets/javascripts/Flot/jquery.flot.js"></script>-->
<!--<script src="/assets/javascripts/Flot/jquery.flot.pie.js"></script>-->
<!--<script src="/assets/javascripts/Flot/jquery.flot.time.js"></script>-->
<!--<script src="/assets/javascripts/Flot/jquery.flot.stack.js"></script>-->
<!--<script src="/assets/javascripts/Flot/jquery.flot.resize.js"></script>-->
<!--Flot plugins -->
<!--<script src="/assets/javascripts/jquery.flot.orderBars.js"></script>-->
<!--<script src="/assets/javascripts/jquery.flot.spline.min.js"></script>-->
<!--<script src="/assets/javascripts/curvedLines.js"></script>-->
<!-- DateJS -->
<!--<script src="/assets/javascripts/DateJS/date.min.js"></script>-->
<!-- JQVMap -->
<!--<script src="/assets/javascripts/jqvmap/jquery.vmap.js"></script>-->
<!--<script src="/assets/javascripts/jqvmap/maps/jquery.vmap.world.js"></script>-->
<!--<script src="../vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>-->
<!-- bootstrap-daterangepicker -->
<script src="/assets/javascripts/moment.js"></script>
<!--<script src="/assets/javascripts/daterangepicker.js"></script>-->

<!-- Custom Theme Scripts -->
<script src="/assets/javascripts/custom.js"></script>

<div class="modal" id="comfirmDialog" tabindex="-1" role="dialog" aria-labelledby="comfirmDialogLabel" aria-hidden="true">
    <div class="modal-dialog" style="margin-top: 200px;">
        <div class="modal-content" style="border:none;border-radius: 0;">
            <div class="x_panel" style="margin-bottom: 0;">
                <div class="x_title">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    标题
                </div>
                <div class="x_content" id="comfirmDialogContent" style="border-bottom: 2px solid #E6E9ED;padding-bottom:13px;">

                </div>
                <div style="float: right;padding-top: 10px;">
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal" id="comfirmDialogCancelBtn">取消</button>
                    <button type="button" class="btn btn-primary btn-sm" id="comfirmDialogConfirmBtn">确定</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
